/*Задание 1*/
.bbb.zzz {
	color: red;
}   
/* селектор выберет элемент, одновременно имеющий класс bbb и класс zzz:*/

/*Задание 2*/

h2.bbb.zzz {
	color: red;
}

/* селектор выберет заголовки h2, одновременно имеющий класс bbb и класс zzz:*/

/*Задание 3 */
#elem.bbb {
	color: red;
}
/*селектор выберет id = elem, одновременно имеющий класс bbb*/

/*Задание 4*/
#elem.bbb.zzz {
	color: red;
}

/*селектор выберет id = elem, одновременно имеющий класс bbb и zzz */


/*Задание 5*/
h2#elem.bbb {
	color: red;
}
/*селектор выберет заголовки h2 id = elem, одновременно имеющий класс bbb*/


