/*Задание 6 */
h2.zzz {
	color: red;
}
/* данный селектор выбирает все заголовки h2 одновременно имеющие класс zzz */


/*Задание 7 */
h2 .zzz {
	color: red;
}

/* данный селектор выбирает класс zzz в родительской теге h2 */


/*Задание 8 */

.bbb.zzz {
	color: red;
}

/* данный селектор выбирает класс zzz и одновременно в классе bbb*/


/*Задание 9 */
.bbb .zzz {
	color: red;
}
/* данный селектор выбирает класс zzz в родительском классе bbb*/


/*Задание 10 */
.bbb.zzz.xxx {
    color: red;
}

/* данный селектор выбирает класс xxx одновременно в классе zzz и в классе bbb*/


/*Задание 11 */
.bbb .zzz.xxx {
	color: red;
}
/* данный селектор выбирает класс xxx и одновременно  классе zzz  в родительского класса bbb*/

/*Задание 12 */
.bbb.zzz .xxx {
	color: red;
}
/* данный селектор выбирает класс xxx  в родительском классе zzz  и одновременно класса bbb*/

/*Задание 13 */
.bbb .zzz .xxx {
	color: red;
}

/* данный селектор выбирает класс xxx  в родительском классе zzz родительского класса  bbb*/


/*Задание 14 */
#elem.bbb {
	color: red;
}
/*селектор выберет id = elem, одновременно имеющий класс bbb*/

/*Задание 15 */
#elem .bbb {
	color: red;
}
/*селектор выберет id = elem, и дочений его класс bbb*/
