/*задание 1 */
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}
/*задание 2 */

.bbb{
    font-size:30px;
}
.eee{
    color:pink;
}
.aaa{
    text-decoration: underline;
}