/*Задание 1*/
p.bbb {
	color: red;
}
/* Данный селектор выбирает все абзацы класса bbb */


/*Задание 2*/

p .bbb {
	color: red;
}
/*Данный селектор выбирает все элементы класса bbb находящиеся в абзаце */


/*Задание 3 */
.eee p.bbb {
	color: red;
}
/*Данный текст выбирает все абзацы класса bbb внутри класса еее */


/* Задание 4 */
.eee p .bbb {
	color: red;
}

/*Данный селектор выбирает элементы класса bbb находящегося внутри абзацев которые относятца к родительскому классу еее*/
